@import '@assets/theme.scss';

.about {
  margin-top: 70px; //header height

  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2em 6em;
    height: 330px;
    background-color: $dark-background-color;

    &--h1 {
      font-size: 3em;
      color: $dark-accent-color;
    }

    &--text {
      font-size: 4em;
      color: $dark-text-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 6em;
    background-color: $dark-primary-color;

    &--title {
      font-size: 5em;
      color: $dark-text-color;
    }

    &--cards {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      row-gap: 3em;
    }
  }
}
