@import '@assets/theme.scss';
@import '@assets/base.css';

.contact {
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6em 10em 0 10em;
    height: 100vh;
    background-color: var(--background-color);
    gap: 2em;

    &--title {
      font-size: 2em;
      color: var(--accent-color);
      margin-bottom: 0.5em;
    }
    &--subtitle {
      width: 60%;
      color: var(--text-color);
      margin-bottom: 1.5em;
      text-align: center;
    }
  }
}

.contact-btn {
  cursor: pointer;
  font-size: 1em;
  font-family: 'JetBrains Mono', serif;
}

button.contact-btn {
  padding: 1.25em 2em;
  background: var(--btn-bg-color);
  border: 2px solid var(--btn-border-color);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.contact-btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--btn-border-color);
  transform: translate3d(0, 0.75em, -1em);
  transition:
    transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.contact-btn:hover {
  background: var(--btn-bg-color);
  transform: translate(0, 0.25em);
}

button.contact-btn:hover::before {
  box-shadow: 0 0 0 2px var(--btn-border-color);
  transform: translate3d(0, 0.5em, -1em);
}

button.contact-btn:active {
  background: var(--btn-bg-color);
  transform: translate(0em, 0.75em);
}

button.contact-btn:active::before {
  box-shadow:
    0 0 0 2px var(--background-color),
    0 0 rgba(255, 255, 255, 0.1);
  transform: translate3d(0, 0, -1em);
}
