@use '@assets/theme.scss' as *;

.experience {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 6em;
    background-color: var(--background-color);

    &--title {
      font-size: $title;
      color: var(--accent-color);
    }
    &--description {
      font-size: $subtitle-small;
      color: var(--text-color);
      margin-top: 2em;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 10em;
    background-color: var(--primary-color);

    &--title {
      font-size: $title;
      color: var(--text-color);
      margin: 1em 0;
    }
    &__container {
      display: flex;
      width: 100%;
      justify-content: start;
      align-items: center;
      position: relative;
    }
  }
}

.dot-timeline {
  position: absolute;
  left: 10%;
  height: 100%;
  width: 4px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.9),
    rgb(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2px;
}

.cards-container {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: $max-width) {
  .experience {
    &__header {
      padding: 9em 2.5em 2em 2.5em;
    }
    &__content {
      padding: 20px 2.5em;
    }
  }

  .dot-timeline {
    left: 20%;
  }
}
