@import '@assets/theme.scss';

.experience {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 6em;
    height: 330px;
    background-color: var(--background-color);

    &--title {
      font-size: $title;
      color: var(--text-color);
    }
    &--subtitle {
      font-size: $subtitle-small;
      color: var(--text-color);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 6em;
    background-color: var(--primary-color);

    &--title {
      font-size: $title;
      color: var(--text-color);
      margin: 1em 0;
    }
    &__container {
      display: flex;
      width: 100%;
      justify-content: start;
      align-items: center;
      position: relative;
    }
  }
}

.dot-timeline {
  position: absolute;
  left: 10%;
  height: 100%;
  width: 4px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.9),
    rgb(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2px;
}

.cards-container {
  position: relative;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
