// src/styles/_theme.scss

// Define your color constants
$dark-primary-color: #69b6e4;
$dark-secondary-color: #3f9ae4;
$dark-accent-color: #46f3ff;
$dark-text-color: #ffffff;
$dark-background-color: #325693;

$light-primary-color: #ffdc99;
$light-secondary-color: #fec98f;
// $light-accent-color: #46f3ff;
$light-text-color: #ff810d;
$light-background-color: #ffffff;
