//NB: in Navbar, special case where accent color is defined independently

// Define your color constants
$dark-primary-color: #69b6e4;
$dark-secondary-color: #3f9ae4;
$dark-accent-color: #46f3ff;
$dark-text-color: #ffffff;
$dark-text-color-secondary: #000000;
$dark-background-color: #325693;

$light-primary-color: #ffdc99;
$light-secondary-color: #fec98f;
// $light-accent-color: #46f3ff;
$light-text-color: #ff810d;
$light-background-color: #ffffff;

$title: 2em;
$subtitle-large: 3em;
$subtitle-medium: 2em;
$subtitle-small: 1em;

$large: 3em;
$medium: 2em;
$small: 1em;

:root {
  --primary-color: #69b6e4;
  --secondary-color: #3f9ae4;
  --accent-color: #46f3ff;
  --text-color: #ffffff;
  --text-color-secondary: #000000;
  --background-color: #325693;
  --card-bg-color: #ffffff;
  --btn-border-color: #0692c0;
  --btn-bg-color: #a7e7fc;
}

:root[data-theme='light'] {
  --primary-color: #ffdc99;
  --secondary-color: #fec98f;
  --accent-color: #ffdc99;
  --text-color: #ff810d;
  --text-color-secondary: #000000;
  --background-color: #ffffff;
  --card-bg-color: #ffffff;
  --btn-border-color: #ff810d;
  --btn-bg-color: #fae8c6;
}

$dark-gradient: linear-gradient(to bottom, $dark-background-color, $dark-secondary-color);
$light-gradient: linear-gradient(to bottom, #ff810d, $light-secondary-color);

$dark-gradient-alt: linear-gradient(to bottom, #2b4485, #afcaff);
$light-gradient-alt: linear-gradient(to bottom, #66ffed, #ffeeb2);
