//NB: in Navbar, special case where accent color is defined independently

$dark-primary-color: #102a44;
$dark-secondary-color: #001122;
$dark-accent-color: #46f3ff;
$dark-text-color: #94b2c3;
$dark-text-color-secondary: #000000;
$dark-background-color: #000c1d;

$light-primary-color: #ffdc99;
$light-secondary-color: #fec98f;
$light-text-color: #ff810d;
$light-background-color: #ffffff;

$title: 2em;
$subtitle-large: 3em;
$subtitle-medium: 2em;
$subtitle-small: 1em;

$large: 3em;
$medium: 2em;
$small: 1em;

:root {
  --primary-color: #102a44;
  --secondary-color: #001122;
  --accent-color: #46f3ff;
  --text-color: #aec4d1;
  --text-color-secondary: #000000;
  --background-color: #000c1d;

  --card-bg-color: #000c1d;

  --btn-border-color: #0692c0;
  --btn-bg-color: #a7e7fc;
}

:root[data-theme='light'] {
  --primary-color: #ffdc99;
  --secondary-color: #fec98f;
  --accent-color: #ff810d;
  --text-color: #4d4945;
  --text-color-secondary: #000000;
  --background-color: #f9f8f3;
  --card-bg-color: #ffffff;
  --btn-border-color: #ff810d;
  --btn-bg-color: #fae8c6;
}

$dark-gradient: linear-gradient(to bottom, $dark-primary-color, #94b2c3);
$light-gradient: linear-gradient(to bottom, #ff810d, $light-secondary-color);

$dark-gradient-alt: linear-gradient(to bottom, #2b4485, #afcaff);
$light-gradient-alt: linear-gradient(to bottom, #66ffed, #ffeeb2);
