@import '@assets/theme.scss';

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: $dark-background-color;
  color: white;
  z-index: 1000;
}

.nav-container {
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.nav-right {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-text {
  color: white;
  padding: 7px 15px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.nav-text:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
