@import '@assets/theme.scss';
@import '@assets/base.css';

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-color: var(--background-color);
  color: white;
  z-index: 9999;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}

.nav-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 2px solid var(--accent-color);
}

.nav-row {
  width: 100%;
}
.nav-left {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.nav-right {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-text {
  color: white;
  font-size: 1em;
  padding: 7px 15px;
  border-radius: 10px;
  transition: all 0.5s ease;

  &--icon {
    font-size: 1.5em;
    padding: 7px 15px;
    cursor: pointer;
  }
}

.nav-text:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn {
  &--resume {
    border: 3px solid var(--primary-color);
    padding: 10px 20px;
    color: var(--text-color);
    font-family: 'JetBrains Mono', serif;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
    transition: all 0.5s ease;
  }

  &--resume:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.el-switch.test {
  --el-switch-on-color: #{$dark-gradient-alt};
  --el-switch-off-color: #{$dark-gradient-alt};
  // --el-switch-on-color: #{$dark-secondary-color};
  // --el-switch-off-color: #{$dark-secondary-color};
}
