@import '@assets/theme.scss';
@import '@assets/base.css';

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 9999;
}

.nav-container {
  background-color: var(--background-color);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 2px solid var(--accent-color);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}

.nav-row {
  width: 100%;
}
.nav-left {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.nav-right {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav-text {
  color: var(--text-color);
  font-size: 1em;
  padding: 7px 15px;
  border-radius: 10px;
  transition: all 0.5s ease;

  &--icon {
    font-size: 1.5em;
    padding: 7px 15px;
    cursor: pointer;
  }
}

.nav-text:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn {
  &--resume {
    border: 0px solid var(--btn-border-color);
    padding: 10px 20px;
    color: var(--btn-border-color);
    font-family: 'JetBrains Mono', serif;
    background-color: var(--btn-bg-color);
    border-radius: 7px;
    transition: all 0.5s ease;
  }

  &--resume:hover {
    // background-color: rgba(0, 0, 0, 0.093);
    filter: brightness(0.8);
  }
}

.el-switch.theme-switch-dark {
  --el-switch-on-color: #{$dark-gradient-alt};
  --el-switch-off-color: #{$dark-gradient-alt};
}
.el-switch.theme-switch-light {
  --el-switch-on-color: #{$light-gradient};
  --el-switch-off-color: #{$light-gradient};
}

.el-switch.theme-switch-light .el-switch__core .el-switch__action {
  background-color: white;
}
.el-switch.theme-switch-dark .el-switch__core .el-switch__action {
  background-color: white;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 100;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--text-color);
    margin: 5px 0;
    transition: 0.3s;
  }
}

@media (max-width: 768px) {
  .header {
    height: 12vh;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-row.mobile-active {
    display: block;
  }

  .nav-left.mobile,
  .nav-right.mobile {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .nav-text {
      margin: 10px 0;
    }

    .social-icons,
    .switches,
    .resume-buttons {
      margin-top: 15px;
    }
  }

  .nav-row {
    display: none;
  }
}
